.unsplash__inner {
    h2 {
        color: #fff;
        font-size: 50px;
        margin-bottom: 30px;
        text-align: center;
    }
    .swiper-wrapper {
        height: 250px;
    }
    ul {
        column-count: 4;
        column-gap: 20px;
        width: 100%;
        li {
            margin-bottom: 20px;

            img {
                border-radius: 5px;
            }
        }
    }

    .swiper-pagination-bullet-active {
        background: white;
    }
}
.movie__search {
    margin-top: 30px;
}
.unsplash__btn {
    .container button {
        background: #565656;
        color: snow;
        border-radius: 5px;
        padding: 5px 10px;
        padding-top: 2px;
        font-size: 16px;
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
            background: var(--white);
            color: var(--black);
        }
    }
}
