// .unsplash__inner {
//     ul {
//         column-count: 4;
//         column-gap: 20px;
//         width: 100%;

//         li {
//             margin-bottom: 20px;

//             img {
//                 border-radius: 5px;
//             }
//         }
//     }
// }
.youtube__inner {
    display: block;
    margin: 0 auto;
    width: 40%;
    h2 {
        color: #fff;
        font-size: 50px;
        margin-bottom: 30px;
        text-align: center;
        font-weight: 700;
    }
    .swiper-pagination-bullet-active {
        background: white;
    }
}
.youtube__btn {
    .container {
        text-align: center;
    }
    .container button {
        background: #565656;
        color: snow;
        border-radius: 5px;
        padding: 5px 10px;
        padding-top: 2px;
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 5px;
        cursor: pointer;

        &:hover {
            background: var(--white);
            color: var(--black);
        }
    }
    .container button.tagBtn {
        background: none;
        border: 1px solid #565656;
        margin-bottom: 50px;
        transition: all 0.3s ease;
        padding: 7px 13px;
        padding-bottom: 9px;
        line-height: 1;
        &:hover {
            box-shadow: inset 0px 0px 3px 3px var(--white);
            color: var(--white);
            transform: translateY(-10px);
        }
    }
}
